In [9]:
%pip install pymysql
%pip install mysql-connector

Requirement already satisfied: pymysql in /opt/conda/lib/python3.10/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 905.8 kB/s eta 0:00:000:0100:01m
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=c43c2eb0a05bfa57d9db1f84d471cb4388d0326c9daf324a438df198a0dcc55b
  Stored in directory: /home/jovyan/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [15]:
engine = create_engine('mysql+mysqlconnector://root:asutp@db/asutp', echo=False)

data = pd.read_sql("SELECT * FROM `Events`", engine)

data.to_sql(name='Events', con=engine, if_exists='append', index=False)

OperationalError: (mysql.connector.errors.OperationalError) 2055: Lost connection to MySQL server at 'db:3306', system error: 104 Connection reset by peer
[SQL: INSERT INTO `Events` (id, date_created, object, severity, message, nps, file_name) VALUES (%(id)s, %(date_created)s, %(object)s, %(severity)s, %(message)s, %(nps)s, %(file_name)s)]
[parameters: ({'id': 1, 'date_created': datetime.datetime(2022, 5, 21, 1, 15, 38), 'object': 'ПОЛЬЗОВАТЕЛЬ "ДРОЖАЛИН А', 'severity': 0, 'message': 'ПОЛЬЗОВАТЕЛЬ "ДРОЖАЛИН А.С." ГРУППЫ "АДМИНИСТРАТОРЫ" ВОШЁЛ В СИСТЕМУ [АРМ ПТ ОСНОВНОЙ/ДРОЖАЛИН А.С.]', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 2, 'date_created': datetime.datetime(2022, 5, 21, 1, 12, 35), 'object': 'ПОЛЬЗОВАТЕЛЬ "КОЛЕСОВ С', 'severity': 0, 'message': 'ПОЛЬЗОВАТЕЛЬ "КОЛЕСОВ С.П." ГРУППЫ "ОПЕРАТОРЫ" ВОШЁЛ В СИСТЕМУ [АРМ ПТ РЕЗЕРВНЫЙ/КОЛЕСОВ С.П.]', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 3, 'date_created': datetime.datetime(2022, 5, 21, 1, 8, 38), 'object': 'ВРЕМЯ РАБОТЫ ПОЛЬЗОВАТЕЛЯ ЗАКОНЧИЛОСЬ, ИЗ СИСТЕМЫ ВЫШЕЛ: ФАТИН Д', 'severity': 0, 'message': 'ВРЕМЯ РАБОТЫ ПОЛЬЗОВАТЕЛЯ ЗАКОНЧИЛОСЬ, ИЗ СИСТЕМЫ ВЫШЕЛ: ФАТИН Д.В. [ АРМ: NPS1-ASPT-S]', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 4, 'date_created': datetime.datetime(2022, 5, 21, 1, 6, 21), 'object': 'ВРЕМЯ РАБОТЫ ПОЛЬЗОВАТЕЛЯ ЗАКОНЧИЛОСЬ, ИЗ СИСТЕМЫ ВЫШЕЛ: ФАТИН Д', 'severity': 0, 'message': 'ВРЕМЯ РАБОТЫ ПОЛЬЗОВАТЕЛЯ ЗАКОНЧИЛОСЬ, ИЗ СИСТЕМЫ ВЫШЕЛ: ФАТИН Д.В. [ АРМ: NPS1-ASPT-P]', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 5, 'date_created': datetime.datetime(2022, 5, 20, 13, 32, 58), 'object': 'КВИТИРОВАТЬ ЗВУКОВУЮ СИГНАЛИЗАЦИЮ [АРМ ПТ ОСНОВНОЙ/ФАТИН Д', 'severity': 1, 'message': 'КВИТИРОВАТЬ ЗВУКОВУЮ СИГНАЛИЗАЦИЮ [АРМ ПТ ОСНОВНОЙ/ФАТИН Д.В.]', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 6, 'date_created': datetime.datetime(2022, 5, 20, 13, 32, 7), 'object': 'РАБОТА ОТ БАТАРЕИ ИБП=24В 10G2 ШКАФА ПТ', 'severity': 0, 'message': 'РАБОТА ОТ БАТАРЕИ ИБП=24В 10G2 ШКАФА ПТ.УСО.2.3 (EC903_05). СИГНАЛ СНЯТ', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 7, 'date_created': datetime.datetime(2022, 5, 20, 13, 32, 7), 'object': 'РАБОТА ОТ БАТАРЕИ ИБП=24В 10G2 ШКАФА ПТ', 'severity': 0, 'message': 'РАБОТА ОТ БАТАРЕИ ИБП=24В 10G2 ШКАФА ПТ.УСО.2.4 (EC903_06). СИГНАЛ СНЯТ', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}, {'id': 8, 'date_created': datetime.datetime(2022, 5, 20, 13, 32, 5), 'object': 'РЕЗЕРВУАР РВСП-20000 №4', 'severity': 0, 'message': 'РЕЗЕРВУАР РВСП-20000 №4. ВОДООХЛАЖДЕНИЕ. ГОТОВ К АВТОМАТИЧЕСКОМУ ВОДООРОШЕНИЮ', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/05. Май/2022.05.20 АСУПТ.xlsx'}  ... displaying 10 of 376096 total bound parameter sets ...  {'id': 376096, 'date_created': datetime.datetime(2022, 6, 10, 8, 45, 30), 'object': 'ДАВЛЕНИЕ ВОДЫ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА Е4 (PT758)', 'severity': 0, 'message': 'ДАВЛЕНИЕ ВОДЫ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА Е4 (PT758). НОРМА', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/06. Июнь/2022.06.10 АСУТП.xlsx'}, {'id': 376097, 'date_created': datetime.datetime(2022, 6, 10, 8, 45, 30), 'object': 'ДАВЛЕНИЕ ВОДЫ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА Е4 (PT758)', 'severity': 0, 'message': 'ДАВЛЕНИЕ ВОДЫ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА Е4 (PT758). ЗНАЧЕНИЕ МАКСИМАЛЬНОЕ. ОТКЛ 1 НАСОСА СНЯТ', 'nps': 'NPS_1', 'file_name': './storage_example/13. НПС-1/06. Июнь/2022.06.10 АСУТП.xlsx'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)