In [1]:
%pip install pymysql
%pip install mysql-connector

Requirement already satisfied: pymysql in /opt/conda/lib/python3.10/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector in /opt/conda/lib/python3.10/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+mysqlconnector://root:asutp@db/asutp', echo=False)

data = pd.read_sql("SELECT * FROM `Events` LIMIT 1000000", engine)

#data.to_sql(name='Events', con=engine, if_exists='append', index=False)

In [4]:
data

,id,date_created,object,severity,message,nps,file_name
0,1,2022-03-31 23:53:41,МНА 3,0,МНА 3. ТЕМПЕРАТУРА АНТИФРИЗА НА ВЫХОДЕ ТЕПЛООБ...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
1,2,2022-03-31 23:53:41,МНА 3,0,МНА 3. ТЕМПЕРАТУРА АНТИФРИЗА НА ВЫХОДЕ ТЕПЛООБ...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
2,3,2022-03-31 23:52:14,МНА 2,0,МНА 2. ТЕМПЕРАТУРА АНТИФРИЗА НА ВЫХОДЕ ТЕПЛООБ...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
3,4,2022-03-31 23:52:14,МНА 2,0,МНА 2. ТЕМПЕРАТУРА АНТИФРИЗА НА ВЫХОДЕ ТЕПЛООБ...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
4,5,2022-03-31 23:50:52,АВОА-Р МНА 3,0,АВОА-Р МНА 3. РАЗОГРЕВ,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
...,...,...,...,...,...,...,...
999995,999996,2022-08-24 19:10:50,ДАВЛЕНИЕ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА -...,0,ДАВЛЕНИЕ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА -...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
999996,999997,2022-08-24 19:10:37,ХОЗЯЙСТВЕННЫЙ НАСОС Н2,0,ХОЗЯЙСТВЕННЫЙ НАСОС Н2.1. ОТКЛЮЧЕН,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
999997,999998,2022-08-24 19:10:36,ДАВЛЕНИЕ НА ВЫХОДЕ ХОЗЯЙСТВЕННОГО НАСОСА Н2,0,ДАВЛЕНИЕ НА ВЫХОДЕ ХОЗЯЙСТВЕННОГО НАСОСА Н2.1....,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
999998,999999,2022-08-24 19:10:34,ДАВЛЕНИЕ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА -...,1,ДАВЛЕНИЕ НА ВЫХОДЕ ГИДРОАККУМУЛИРУЮЩЕГО БАКА -...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...
999999,1000000,2022-08-24 19:10:34,ХОЗЯЙСТВЕННЫЙ НАСОС Н2,0,ХОЗЯЙСТВЕННЫЙ НАСОС Н2.1. КОМАНДА - ОТКЛЮЧИТЬ ...,NPS_23,./storage_example/01. НПС-23/Помесячно/НПС-23 ...